# dependencies
node_modules/

# production
.turbo/
.vercel/
dist/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.dev.vars
.env

# macOS
.DS_Store

# editors
.vscode
.idea
